@font-face {
    font-family: Gorski;
    src: url(Gorski.ttf);
}
@font-face {
    font-family: Agatha;
    src: url(AgathaNeedsFlesh.ttf);
}
@font-face {
    font-family: Zuliang;
    src: url(Zulangmodern.otf);
}
@font-face {
    font-family: UnBatang;
    src: url(UnBatang.ttf);
}
@font-face {
    font-family: euphorigenic;
    src: url(euphorigenic.ttf);
}
@font-face {
    font-family: eAppleGaramond;
    src: url(AppleGaramond.ttf);
}
@font-face {
    font-family: Constantine;
    src: url(Constantine.ttf);
}

:root{
	--main-background-color: #fff;
	--main-header-color: ;
	--main-text-color: #000000;
	--main-accent-color: #FA7EA8;
}
html, body {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    text-align: center;
    font-family: AppleGaramond;
    font-weight: bold;
}
body{
	background-color:#3F3F3F;
	background-image: radial-gradient(#fff 15%, transparent 16%),
	radial-gradient(#fff 15%, transparent 16%);
	background-size:20px 20px;
	background-position: 0 0, 10px 10px;
}
h2{
	font-family: Constantine;
	color: var(--main-accent-color);
	font-weight: bold;
}
h3{
	text-align: center;
}
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 300%;
	z-index:1001;
	background-color: black;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 101%;
	height: auto;
	background-color: var(--main-background-color);	
	background-size:20px 20px;
	background-position: 0 0, 10px 10px;
	z-index:1002;
	overflow: auto;
	text-align: center;
	font-size: 1.5em;
	padding: 20px;
}
.white_content2 {
	display: none;
	position: absolute;
	top: -300px;
	left: 0;
	width: 101%;
	height: auto;
	background-color: var(--main-background-color);
	background-size:20px 20px;
	background-position: 0 0, 10px 10px;
	z-index:1002;
	overflow: auto;
	text-align: center;
	font-size: 1.5em;
	padding: 20px;
}

.cont{
	border-radius: 50px;
	border: #F48FB1 4px solid;
	margin: 2.5em;
	background-color: var(--main-background-color);
	font-family: Agatha;
}

.top-bar{
	padding-top: 1px;
}

#title{
	text-align: center;
	font-size: 9em;
	font-family: Agatha;
	color: var(--main-accent-color);
}
#title-s{
	color: #F48FB1;
	font-family: Agatha;
	font-size: 50px;
}
#title-2{
	text-align: center;
	font-family: Zuliang;
	font-size: 3em;
}
#title-2s{
	font-family: UnBatang;
}
#contact{
	font-family: Agatha;
	font-size: 3em;
}
.social-box{
	text-align: center;
}
.social-box a img{
	padding-right: 1em;
	padding-left: 1em;
	width: 8%;
	height: 8%;
}
.not-active {
    cursor: not-allowed;
}
.row{
	padding-left: 3em;
	padding-right: 3em;
}
.menu .row .col-md-4 img{
	width: 100%;
}
.menu{
	padding-top: 10px;
	font-size: 20px;
}
.menu h2{
	font-size: 50px;
	font-family: Agatha;
}
.pop-up{
	font-size: 50px;
	color: #F48FB1;
}
.icon{
	color: var(--main-accent-color);
}
#tel{
	color: #F48FB1;
}
p{
	text-align: center;
	font-size: 1.5em;
}
.dolje a {
  padding-bottom: 2px;
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 400;
}

.dolje a:hover {
  color: #F48FB1;
}

.linkline {
  display: inline-block;
  position: relative;
}
#section-credits p{
	color: var(--main-accent-color);
}
.linkline:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: 0 0;
  -webkit-transition: width .8s ease;
  -moz-transition: width .8s ease;
  -o-transition: width .8s ease;
  -ms-transition: width .8s ease;
  transition: width .8s ease;
}
.c{
	font-family: Zuliang;
}
.linkline:hover:after {
  width: 100%;
  background-color: #F48FB1;
}

a.linkline:hover {
  color: #F48FB1;
}
#section-credits{
	font-size: 2em;
	font-family: Agatha;
}

/*-----------For Mobile-------------*/
/*-----------For Mobile-------------*/
/*-----------For Mobile-------------*/


@media screen and (max-width: 767px) {
	.col-md-4{
		pointer-events: none;
   		cursor: default;
	}
	.col-md-6{
		pointer-events: none;
   		cursor: default;
	}
	.cont{
		margin: 1.5em;
		font-size: 1.3em;
	}
	#title{
		font-size: 7em;
	}
	#title-s{
		font-size: 0.25em;
	}
	#title-2{
		font-size: 1.3em;
	}
	#contact{
		font-family: Agatha;
		font-size: 1.3em;
	}
	.social-box a img{
		padding-right: 0.5em;
		width: 15%;
		height: 15%;
	}
	.row{
		padding-left: 1em;
		padding-right: 1em;
	}
	.menu{
		font-size: 1.5em;
	}
	.menu h2{
		font-size: 1em;
	}
	p{
		text-align: center;
		font-size: 1em;
	}
	.linkline:hover:after {
	  width: 100%;
	  background-color: #fff;
	}
	a.linkline:hover {
	  color: #F48FB1;
	}
	#section-credits{
		font-size: 1.3em;
	}
}
@media screen and (max-width: 634px) {
	#title{
		font-size: 6em;
	}
	#title-s{
		font-size: 0.25em;
	}
	#title-2{
		font-size: 1.15em;
	}
	.menu h2{
		font-size: 1.5em;
	}
	.cont{
		margin: 1.5em;
		font-size: 1.15em;
	}
	#section-credits{
		font-size: 1.3em;
	}
}
@media screen and (max-width: 550px) {
	#title{
		font-size: 5em;
	}
	#title-s{
		font-size: 0.25em;
	}
	#title-2{
		font-size: 1em;
	}
	.menu h2{
		font-size: 1.4em;
	}
}
@media screen and (max-width: 513px) {
	#title{
		font-size: 5em;
	}
	#title-s{
		font-size: 0.25em;
	}
	#title-2{
		font-size: 1em;
	}
}
@media screen and (max-width: 480px) {
	#title{
		font-size: 4.5em;
	}
	#title-s{
		font-size: 0.25em;
	}
	#title-2{
		font-size: 0.9em;
	}
	.menu h2{
		font-size: 1.3em;
	}
}
@media screen and (max-width: 453px) {
	#title{
		font-size: 4em;
	}
	#title-s{
		font-size: 0.25em;
	}
	#title-2{
		font-size: 0.85em;
	}
	.menu h2{
		font-size: 1.2em;
	}

}